.app-container {
  background-image: linear-gradient(to right, #9796f0, #fbc7d4);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.emojis-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.emojis-list-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding: 0px;
  max-width: 1000px;
}
