.win-loss-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff33;
  border: 3px solid #ffffff33;
  width: 85%;
  border-radius: 24px;
  padding: 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .win-loss-container {
    width: 80%;
    padding: 32px;
  }
}

@media screen and (min-width: 992px) {
  .win-loss-container {
    flex-direction: row;
    width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  .win-loss-container {
    width: 60%;
  }
}

.score-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}

@media screen and (min-width: 992px) {
  .score-details-container {
    order: 0;
  }
}

.game-status {
  font-family: 'Roboto';
  font-size: 32px;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .game-status {
    font-size: 64px;
  }
}

.current-score-label {
  font-family: 'Roboto';
  font-size: 18px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

@media screen and (min-width: 992px) {
  .current-score-label {
    font-size: 36px;
  }
}

.current-score-value {
  font-family: 'Roboto';
  font-size: 32px;
  color: #6a59ff;
  font-weight: bold;
  text-align: center;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .current-score-value {
    font-size: 48px;
  }
}

.play-again-button {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: #3d3d3d;
  background-color: #ffce27;
  border-radius: 20px;
  margin: 16px;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

.image-container {
  display: flex;
  justify-content: center;
  order: 0;
}

@media screen and (min-width: 992px) {
  .image-container {
    order: 1;
  }
}

.win-lose-image {
  width: 150px;
  height: 200px;
}

@media screen and (min-width: 992px) {
  .win-lose-image {
    width: 350px;
    height: 450px;
  }
}
